
<main class="py-4">
    <%= tab_panel active: current_view == 'grid' do %>
        <%= render 'dashboard/grid', file_entries_presenters: file_entries_presenters, folders_presenters: folders_presenters, current_folder_presenter: current_folder_presenter %>
    <% end %>

    <%= tab_panel active: current_view == 'list' do %>
        <%= render 'dashboard/table', file_entries_presenters: file_entries_presenters, folders_presenters: folders_presenters, current_folder_presenter: current_folder_presenter %>
    <% end %>
</main>
