<div class="space-y-1">
  <%= text_field_tag name, value, type: type, id: id,
                class: options[:class],
                placeholder: options[:placeholder],
                autocomplete: options[:autocomplete],
                autocapitalize: options[:autocapitalize],
                autocorrect: options[:autocorrect],
                disabled: options[:disabled],
                required: options[:required],
                readonly: options[:readonly],
                data: options[:data] %>
  <% if error_message.present? %>
    <p class="text-sm text-red-500"><%= error_message %></p>
  <% end %>
</div>