<turbo-frame id="delete_folder_form">
  <%= form_with(model: folder, method: :delete, local: true, class: 'space-y-4 text-start', data: { turbo: true }) do |f| %>
    <h2 class="text-lg font-semibold">This action will permanently delete the folder and all its contents. Are you sure you want to continue?</h2>

    <div class="flex justify-end gap-2">
      <div class="flex justify-end gap-2">
        <%= render_button("Cancel", variant: :default, data: { action: "click->ui--dialog#close" }) %>
      </div>

      <div class="flex justify-end gap-2">
        <%= render_button("Delete Folder", variant: :error, type: :submit) %>
      </div>
    </div>
  <% end %>
</turbo-frame>
